body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: #f4f6f9;
  color: #333;
}

header {
  background: #1f3c88;
  color: white;
  padding: 40px;
  text-align: center;
}

.contact p {
  margin: 5px;
}

section {
  padding: 30px;
}

h2 {
  color: #1f3c88;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  margin: 30px;
  padding: 12px 20px;
  background: #1f3c88;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
